<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<a href="/">Home</a>
<h1>Esports</h1>
<p>Welcome to Esports</p>
</body>
</html>