<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <a href="/about">About</a>
  <a href="/events">Events</a>
  <a href="/esports">Esports</a>
  <a href="/socials">Socials</a>
  <a href="/showcase">Showcase</a>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
