<!DOCTYPE html>
<html>
<head>
    <title>Showcase</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<a href="/">Home</a>
<h1>Showcase</h1>
<p>Welcome to Showcase</p>
</body>
</html>