<!DOCTYPE html>
<html>
<head>
    <title>Socials</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<a href="/">Home</a>
<h1>Socials</h1>
<p>Welcome to Socials</p>
</body>
</html>